In [2]:
import pandas as pd
import sklearn
import numpy as np
import matplotlib

In [3]:
df=pd.read_csv('C:\\Users\\Asus\\Desktop\\Tempo\\train.csv')

In [4]:
df['Residence_type'].unique()

array(['Unknown', 'Urban', 'Rural'], dtype=object)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4000 non-null   int64
 1   gender             4000 non-null   object
 2   age                3893 non-null   float64
 3   hypertension       3770 non-null   float64
 4   heart_disease      3910 non-null   float64
 5   ever_married       4000 non-null   object
 6   work_type          4000 non-null   object
 7   Residence_type     4000 non-null   object
 8   avg_glucose_level  3829 non-null   float64
 9   bmi                2884 non-null   float64
 10  smoking_status     4000 non-null   object
 11  blood              3990 non-null   object
 12  height             2928 non-null   float64
 13  stroke             4000 non-null   int64
dtypes: float64(6), int64(2), object(6)
memory usage: 437.6+ KB

In [58]:
df['age'].fillna(value=43.071256,inplace=True)
df['heart_disease'].fillna(0,inplace=True)
df['avg_glucose_level'].fillna(106.178062,inplace=True)
df['bmi'].fillna(28.887899,inplace=True)
df['height'].fillna(1.611831,inplace=True)
df['hypertension'].fillna(0,inplace=True)

In [7]:
df['blood'].mode()

0    AB
dtype: object

In [57]:
df['hypertension'].mode()

0    0.0
dtype: float64

In [59]:
df.isnull().sum()

id                    0
gender                0
age                   0
hypertension          0
heart_disease         0
ever_married          0
work_type             0
Residence_type        0
avg_glucose_level     0
bmi                   0
smoking_status        0
blood                10
height                0
stroke                0
dtype: int64

In [24]:
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,blood,height,stroke
0,77,Female,43.071256,0.0,0.0,No,children,Unknown,85.81,18.6,Unknown,O,NaN,0
1,84,Male,55.000000,0.0,0.0,Yes,Private,Urban,89.17,NaN,never smoked,B,1.59,0
2,91,Female,42.000000,0.0,0.0,No,Private,Unknown,98.53,18.5,never smoked,B,NaN,0
3,99,Female,31.000000,0.0,0.0,No,Private,Urban,108.89,52.3,Unknown,O,1.24,0
4,121,Female,38.000000,0.0,0.0,Yes,Private,Unknown,91.44,NaN,Unknown,O,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3995,72867,Male,16.000000,0.0,0.0,No,Private,Unknown,99.49,22.0,Unknown,B,NaN,0
3996,72882,Male,47.000000,0.0,0.0,Yes,Private,Rural,75.30,25.0,formerly smoked,B,1.79,0
3997,72911,Other,57.000000,1.0,0.0,Yes,Private,Rural,129.54,60.9,smokes,AB,1.15,0
3998,72915,Female,45.000000,0.0,0.0,Yes,Private,Unknown,172.33,45.3,formerly smoked,O,1.33,0
3999,72918,Female,53.000000,1.0,0.0,Yes,Private,Urban,62.55,30.3,Unknown,O,1.62,1