In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns

In [2]:
wecode=pd.read_csv('wecode.csv')
training=pd.read_csv('score_training.csv')

Đổi tên cột id ở thành user_id

In [3]:
training.rename(columns={"id":"user_id"},inplace=True)

Hợp nhất 2 file thành một bảng để xử lý

In [4]:
df=pd.merge(wecode, training, on='user_id', how='outer')
df

Xoá các cột không cần thiết

In [5]:
df.drop(columns={'id','TBM','TBTL', "status", "language_id", "created_at", "updated_at", "file_name"},inplace=True)

Ép kiểu dữ liệu của các cột QT, GK, TH, CK, coefficient thành kiểu số

In [6]:
df[['QT','GK','TH','CK','coefficient']]=df[['QT','GK','TH','CK','coefficient']].apply(pd.to_numeric,errors='coerce')

In [7]:
df=df[df['is_final']!=0]
df=df[df['pre_score']!=0]

In [10]:
submit_sum=df.groupby(['user_id'])

,assignment_id,problem_id,user_id,is_final,pre_score,coefficient,QT,GK,TH,CK
0,0.0,3.0,4,1.0,10000.0,100.0,NaN,NaN,NaN,NaN
1,0.0,4.0,4,1.0,10000.0,100.0,NaN,NaN,NaN,NaN
6,0.0,6.0,4,1.0,10000.0,100.0,NaN,NaN,NaN,NaN
7,0.0,7.0,4,1.0,10000.0,100.0,NaN,NaN,NaN,NaN
8,0.0,8.0,4,1.0,10000.0,100.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
264723,NaN,NaN,1638,NaN,NaN,NaN,10.0,9.5,9.0,8.5
264724,NaN,NaN,1664,NaN,NaN,NaN,10.0,9.5,10.0,9.0
264725,NaN,NaN,1679,NaN,NaN,NaN,10.0,9.0,NaN,6.0
264726,NaN,NaN,1723,NaN,NaN,NaN,NaN,9.5,8.5,9.0
264727,NaN,NaN,1866,NaN,NaN,NaN,9.0,7.5,2.0,5.0

In [19]:
df['pre_score'].fillna(value=0,inplace=True)
df['coefficient'].fillna(value=0,inplace=True)

In [30]:
df.to_csv('haha1.csv',index=False)

In [11]:
df.drop_duplicates(subset='user_id',keep='first',inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264728 entries, 0 to 264727
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   assignment_id  264606 non-null  float64
 1   problem_id     264606 non-null  float64
 2   user_id        264728 non-null  int64
 3   is_final       264606 non-null  float64
 4   pre_score      264606 non-null  float64
 5   coefficient    264354 non-null  float64
 6   QT             192658 non-null  float64
 7   GK             179521 non-null  float64
 8   TH             192531 non-null  float64
 9   CK             192715 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 22.2 MB

In [10]:
df['user_id'].unique().shape

(1281,)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 264728 entries, 0 to 264727
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   assignment_id  264606 non-null  float64
 1   problem_id     264606 non-null  float64
 2   user_id        264728 non-null  int64
 3   is_final       264606 non-null  float64
 4   pre_score      264606 non-null  float64
 5   coefficient    264354 non-null  float64
 6   QT             192658 non-null  float64
 7   GK             179521 non-null  float64
 8   TH             192531 non-null  float64
 9   CK             192715 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 22.2 MB

In [11]:
df[df[['QT','TH','GK','CK']].notnull()]

,assignment_id,problem_id,user_id,pre_score,coefficient,QT,GK,TH,CK
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
264723,NaN,NaN,NaN,NaN,NaN,10.0,9.5,9.0,8.5
264724,NaN,NaN,NaN,NaN,NaN,10.0,9.5,10.0,9.0
264725,NaN,NaN,NaN,NaN,NaN,10.0,9.0,NaN,6.0
264726,NaN,NaN,NaN,NaN,NaN,NaN,9.5,8.5,9.0
264727,NaN,NaN,NaN,NaN,NaN,9.0,7.5,2.0,5.0